#name
{
   text-align: center; 
}

#edu
{
    text-align: center;
}
body
{
    background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-pink-memphis-playful-abstract-portfolio-picture-image_1347365.jpg");
    background-size: cover;
}